.divNav {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    overflow: hidden;
    padding-top: 10px;
    z-index: 1;
}

.navbar {
    --bs-navbar-hover-color: #e7c433;
    --bs-navbar-brand-hover-color: #e7c433;
    background-color: rgba(64, 64, 64, 0.25) !important;
    border-radius: 5px;
}

.nav-link {
    color: #fff;
}

@media (max-width: 768px) {
    .navbar-nav {
        justify-content: center;
        align-items: center;
    }

    .divNav {
        justify-content: left;
    }

    .navbar {
        --bs-navbar-hover-color: #e7c433;
        --bs-navbar-brand-hover-color: #e7c433;
        background-color: rgba(64, 64, 64, 0.25) !important;
        border-radius: 5px;
    }
}